@charset "utf-8";
/* CSS Document */

.hero {
	background-color: #729343;
}

.pg-hero {
	background-image: url("#");
	background-color: #729343;
	padding: 10px;
}

.hero-subcontent {
	padding-top: 3%
}

.cao-btn-section {
	padding-top: 1%;
}

.hero-btn {
	padding-top: 2%;
	padding-bottom: 2%;
	padding-right: 5%;
	padding-left: 5%;
}

.section {
	padding-top: 2%;
}

.section-title {
	padding-bottom: 2%
}

.section-end {
	padding-top: 3%;
	padding-bottom: 3%;
}